<div style="width:208px;height:208px;margin:10px 8px 5px 8px;float:left;">
  <mat-toolbar style="height:38px">Turn of War</mat-toolbar>
  <div class="GameImage"></div>
  <mat-toolbar class="GameProperties" style="">Update Available</mat-toolbar>    
</div>

<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Turn of War - WW2 </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Poser 3D          </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Squad MOBA        </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">The Valley        </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Area of Operations</mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Fantasy MMO       </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Battle            </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Fury Road MMO     </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Western MMO       </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">SWAT/HVT          </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Paranormal        </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Space?            </mat-card>
<mat-card style="width:160px;height:160px;margin:10px 8px 5px 8px;float:left;">Top Down/OTS Base </mat-card>