#base{
    display: grid;
    min-height: 100%;
    grid-template-areas: "title" "content" "footer";
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr 1fr;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

#header{
    grid-area: title;
    background-color: rgb(66, 66, 66);
}

#content{
    grid-area: content;
}

#footer{
    grid-area: footer;
    background-color: rgb(66, 66, 66);
}